@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Safari and Chrome */
  width: 0;
  height: 0;
}